extends layout

block content
  h1= title
  h2= Welcome

  .container
    each val in properties
      .panel.panel-default
        .panel-heading
          h3.panel-title= val.dataValues.Name + " - £" + val.dataValues.price + " per night"
        .panel-body
          p= val.dataValues.description
          a(href="properties/" + val.dataValues.id) view property
