doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

  body

    nav.navbar.navbar-default

        ul.nav

          li(role='presentation')
            form.navbar-form.navbar-left(action='/' method='get')
              button.btn.navbar-btn(type='submit') Home

          if sess === undefined
            li(role='presentation')
              form.navbar-form.navbar-right(action='/users/new' method='get')
                button.btn.navbar-btn(type='submit') Sign up
            li(role='presentation')
              form.navbar-form.navbar-right(action='/sessions/new' method='get')
                button.btn.navbar-btn(type='submit') Sign in

          else

            li(role='presentation')
              form.navbar-form.navbar-right(action='/sessions/end', method='post')
                button.btn.navbar-btn(type='submit') Log out
            li(role='presentation')
              form.navbar-form.navbar-right(action='/properties/new', method='get')
                button.btn.navbar-btn(type='submit') Add property

    .container

      block content
