doctype html
html
  head
    title= title


  body
    if sess !== undefined
      .buttons
        form(action='/sessions/end', method='post')
          input#button(type='submit', value='Log out')

    block content
