extends layout

block content

  h1= property.dataValues.Name

  h2 Description

  p= property.dataValues.description

  h2 Price

  p= property.dataValues.price

  form(action='/bookings', method='post')
    input(type='hidden', name='prop_id' value= property.dataValues.id)
    select(name='dates')
      option(value='2016-09-23', selected='') 23/09/16
      option(value='2016-09-24') 24/09/16
    input(type='submit', value='Book')
