extends layout

block content

  h1= property.dataValues.Name

  h2 Description

  p= property.dataValues.description

  h2 Price

  p= property.dataValues.price

  form(action='/bookings', method='post')
    input(type='hidden', name='prop_id' value= property.dataValues.id)
    input(type='date', name='dates', min="2016-09-01")
    input(type='submit', value='Book')
